nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
}
.item {
    padding: 0px 10px;
}
h1 {
    text-align: center;
    margin: 20px;
    font-size: 4em;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border: 1px solid black;
}